@charset "UTF-8";

@font-face {
  font-family: "userdocs";
  src:url("fonts/userdocs.eot");
  src:url("fonts/userdocs.eot?#iefix") format("embedded-opentype"),
    url("fonts/userdocs.woff") format("woff"),
    url("fonts/userdocs.ttf") format("truetype"),
    url("fonts/userdocs.svg#userdocs") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "userdocs" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "userdocs" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-text-o:before {
  content: "\61";
}
